* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box !important;
}
body {
    color: #0F1111;
    font-family: "Amazon Ember", Arial, sans-serif;
    background-color: rgb(207, 210, 213);
}
.navbar-brand:hover{
    border-color:white;
    border-style: ridge;
}
.navbar-my {
    display: flex;
    flex-direction: column;
    height: 100px;
}
.nav-belt-my {
    display: flex;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: #131921;
    z-index: 2;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.logo-my {
    height: 100%;
    min-width: 150px;
    display: flex;
    flex-flow: row nowrap;
}
.amazon-logo-my {
    width: 120px;
    height: 80%;
    margin-top: 13px;
    margin-left: 6px;
    padding: 5px;
}
a {
    text-decoration: none;
}
.navbar-my a {
    color: white;
}
.nav-main-my {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    position: absolute;
    top: 60px;
    background-color: #232f3e;
}
.address-my {
    color: white;
    width: 155px;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    font-size: 13px;
}

.loc-log-my {
    padding-top: 7px;
    margin-right: 7px;
}

.location-des-my {
    padding-top: 3px;
}
.quick-search-my {
    height: 40px;
    width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-flow: row nowrap;
}

.form-search-my {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
}

#select-category {
    height: 100%;
    width: 50px;
    padding: 5px;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
}

.input-text-my {
    height: 100%;
    width: 94%;
}

.input-text-my input {
    height: 100%;
    width: 100%;
    font-size: 15px;
}

.nav-search-my {
    display: inline-block;
}

.search-submit-my {
    width: 50px;
    height: 102%;
    background-color: #febd69;
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
    cursor: pointer;
    padding: 6px;
}
.region-my {
    min-width: 50px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.dropdown-region-lan-menu-my {
    display: none;
    background-color: white;
    height: 450px;
    /* border: 5px solid red; */
    width: 250px;
    position: absolute;
    top: 50px;
    text-align: left;
    padding: 10px;
    border-radius: 10%;
    font-size: 12px;
    /* overflow: scroll; */
}

#in-in {
    position: relative !important;
    top: 2px !important;
    left: -9px !important;
}

.dropdown-region-lan-menu-my input {
    margin: 5px;
}

.dropdown-region-lan-menu-my label:hover {
    text-shadow: 5px 5px 5px gold;
}

.region-my:hover .dropdown-region-lan-menu-my {
    display: block;
}

input[type=radio] {
    border: 0px;
    height: 15px;
    width: 15px;
}

.change-region-my {
    margin: 10px;
    padding: 10px;
}

.Accounts-my {
    width: 120px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 13px;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.order-returns-my {
    min-width: 70px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.cart-my {
    min-width: 70px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: url("https://i.ibb.co/xSsVnh2/cart.png");
    background-size: 72px 90px, contain;
}

.number-of-items-my {
    margin-left: 20px;
    color: orange;
    margin-top: 6px;
}
#display-2 .item p {
    color: black;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

.owl-item .item {
    height: auto;
}

.owl-carousel .owl-stage {
    display: flex;
}

.owl-carousel .owl-item img {
    width: auto;
    margin: auto;
}

#display-1 {
    /* background-color: white; */
    padding: 10px;
}

.card-top {
    background-color: white;
    padding: 10px;
    max-height: 380px;
    min-height: 380px;
    text-align: center;
}

#display-1 .item {
    background-color: white;
}

.keep-shopping-items {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    max-height: 50%;
    width: 100%;
}

#display-2 {
    margin: 10px;
    /* background-color: white; */
}

.k-s-i-d {
    object-fit: cover;
    flex-shrink: 0;
    width: 50%;
    height: 50%;
    font-size: 11px;
}

.k-s-i-d a {
    color: black;
}

.k-s-i-d img {
    max-width: 100%;
    min-height: 90%
}

.keep-shopping-items-2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    max-height: 50%;
    width: 100%;
}

.k-s-i-d-bills {
    object-fit: cover;
    flex-shrink: 0;
    width:50%;
    height: 50%;
    font-size: 10px;
    margin-top: 10px;
    margin-left: 11px;
}

.k-s-i-d-bills a {
    color: black;
}

.k-s-i-d-bills img {
    max-width: 100%;
    min-height: 80%
}

#myCarousel {
    max-height: 275px;
}

.offer-segment {
    background-color: white;
    height: 380px;
    width: 406px;
    padding: 10px;
}

.goto-top {
    display: flex;
    background-color: #37475a;
    text-align: center;
    color: white;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.foot-three-parts {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    color: white;
    background-color: #232f3e;
    padding: 10px;
    border-bottom: 1px solid grey;
}

.foot-parts {
    text-align: left;
    padding: 10px;
}

.foot-parts p {
    color: #959fa9;
}

.country-avail {
    display: block;
}

.amazon-country {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    padding: 10px;
    background-color: #232f3e;
}

.country-avail img {
    height: 40px;
    width: 100px;
}

.language-select {
    border: 1px solid rgb(194, 188, 188);
    border-radius: 3px;
    height: 40px;
    width: 150px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    color: rgb(162, 160, 160);
}

.countries {
    padding: 10px;
    text-align: center;
    background-color: #232f3e;
    font-size: 10px;
    ;
}

.countries a {
    color: #959fa9;
}

.country-name {
    display: inline-block;
    margin: 4px;
}

.last-foot {
    background-color: #131921;
    font-size: 12px;
    text-align: center;
    color: #959fa9;
    padding: 10px;
}

.last-foot-child {
    display: inline-block;
    margin: 4px;
}

.last-foot a {
    color: #959fa9;
}

/* dark and light mode*/
.day-n-night {
    position: fixed;
    z-index: 25;
    bottom: 80vh;
    right: 0px;
    width: 50px;
    height: 50px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color: gold;
    font-size: 30px;
    text-align: center;
    padding-top: 5px;
    background-color: #131921;
}

/* COUPOUN CODE*/
#coupon{
    height:200px;
    width:400px;
    background-color:gray;
    z-index: 100;
    position: absolute;
    display: block;
    margin-left: 37%;   
}
.discount{
    height:200px;
    width:400px;
}
.close{
    margin-left:10px;
}